<!doctype html>

<title>Test</title> 
<meta charset=utf-8> 
<body bgcolor="#71a4f7">
<style>
h1{
	font-family: Georgia;
	font-size: 50px;
	font-style: bold;
	text-align:center;
}
.yo{
    background-color : #000033;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	font-weight : bold;
    margin: 4px 2px;
    cursor: pointer;
	 font-family: 'Berkshire Swash';
}
</style>
<h1 >Python-Flask Task2</h1>
 <hr> 
<a href="/q1/" class="yo">Question 1</a>
 <hr> 
</br><a href="/q2/"class="yo">Question 2</a>
 <hr> 
</br><a href="/q3/"class="yo">Question 3</a>
 <hr> 
</br><a href="/q4/"class="yo">Question 4</a>
 <hr> 
</br><a href="/q5/"class="yo">Question 5</a>
 <hr> 
</br><a href="/q6/"class="yo">Question 6</a>
 <hr> 
</br><a href="/q7/"class="yo">Question 7</a>
 <hr> 
 </body>
